*{
	font-family: monospace;
}
 html {
 	background:url(background.jpg) no-repeat center center fixed;
 	background-size: 100% 100%;
 	height: 100%;
 	overflow: hidden;
 }


/*html {
	background:url("background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/

/*body{
  background:url("background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;*/
  /*width: 100%;
  height: auto;*/
/*}
*/
#myform {
 width:250px;
 margin-left:50%;
 padding:80px;
 margin-top: 50px;
 background-color:floralwhite;
 box-shadow: 0 10px 20px rgba(0,0,0,9);
 justify-content: center;
}

span {
  font-size:25px;
  font-family:monospace;
  color:rgb(63,224,208);
  font-weight: bold;
}

input[type="email"], input[type="password"] {
 border: 1px solid floralwhite;
 background-color: transparent;
 border-bottom: 2px solid rgb(63,224,208);
 padding:10px;
 width: 250px;
}

.forg{
  display:inline-block;
  position: relative;
  text-decoration: none;
  left:55%;
  bottom:10px;
  font-size: 15px;
  color:black;
}

.forg:hover {
	color: blue;
}

.btn {
  background-image:linear-gradient(200deg,rgb(125,146,211),rgb(165,115,213));
  border: 1px solid floralwhite;
  padding:7px;
  color:white;
  font-size: 20px;
  margin-left: 50px;
  width: 150px;
  outline: none;
  cursor: pointer;
}
.reg {
  display:inline-block;
  position: relative;
  text-decoration: none;
  font-size: 15px;
  color:rgb(63,224,208);
  font-weight: bold;
  left:10px;
}

